<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402924858666-1he7ijlvdmq64thp8545jngr0m6hbesg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402924858666-1he7ijlvdmq64thp8545jngr0m6hbesg</string>
	<key>API_KEY</key>
	<string>AIzaSyCEw0TRYchsVYKfptPHVwyjCaqOCTgAfFk</string>
	<key>GCM_SENDER_ID</key>
	<string>402924858666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.iappie.twitter-clone</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftui-e1065</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftui-e1065.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402924858666:ios:097dba357f323cec284253</string>
</dict>
</plist>